//output: ../../public/index.html
doctype html
html(lang='Holla!')
    head
        link(rel='stylesheet', href='css/main.css')
        
        title Hola!
    body
      
      script(type='text/javascript', src='js/app.bundle.js')
